ion-toolbar {
  --background: rgb(87, 13, 19) !important;
  --color: white;
  --border-style: double;
  box-shadow: 0px 1px rgb(94, 21, 22, 0.5);
  margin: 0 !important;
}
ion-header {
  background-color: rgb(87, 13, 19);
}

// ion-card-title {
//   color: #fff;
//   margin-top: 1rem;
//   font-size: 1rem;
// }
ion-card-subtitle {
  color: rgb(202, 211, 189);
}